<h2>Methods that were not run</h2><table>
<tr><td>com.amx.qa.remittance.RemittanceDetailsTest.verifyRemittancePricingTest</td></tr>
<tr><td>com.amx.qa.remittance.RemittanceDetailsTest.verifyRemittancePricingWithKnetTest</td></tr>
</table>