<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cddd80">  <td>19/06/12 17:35:31</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUpSuite()[pri:0, instance:com.amx.qa.remittance.RemittanceDetailsTest@3d74bf60]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1841396611</td>   <td></td> </tr>
<tr bgcolor="91d69f">  <td>19/06/12 17:35:31</td>   <td>184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RemittanceDetailsTest.setUp()[pri:0, instance:com.amx.qa.remittance.RemittanceDetailsTest@3d74bf60]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1841396611</td>   <td></td> </tr>
<tr bgcolor="91d69f">  <td>19/06/12 17:35:31</td>   <td>230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RemittanceDetailsTest.verifyTransactionReceiptTest()[pri:3, instance:com.amx.qa.remittance.RemittanceDetailsTest@3d74bf60]">verifyTransactionReceiptTest</td> 
  <td>main@1841396611</td>   <td></td> </tr>
<tr bgcolor="cddd80">  <td>19/06/12 17:36:05</td>   <td>34673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResults(org.testng.ITestResult)[pri:0, instance:com.amx.qa.remittance.RemittanceDetailsTest@3d74bf60]">&lt;&lt;getResults</td> 
<td>&nbsp;</td>  <td>main@1841396611</td>   <td></td> </tr>
</table>
