<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.crmLogoImageTest()[pri:2, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">crmLogoImageTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:03</td>   <td>-30008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">loginPageTitleTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:51:21</td>   <td>48234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:3, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">loginTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:51:52</td>   <td>78726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.selectMultipleContactsTest()[pri:3, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">selectMultipleContactsTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:56</td>   <td>22918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.selectSingleContactsTest()[pri:2, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">selectSingleContactsTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:49:56</td>   <td>-36511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:03</td>   <td>-29686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:16</td>   <td>-16458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:28</td>   <td>-4406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:33</td>   <td>166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:45</td>   <td>12184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:51:17</td>   <td>43710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:51:25</td>   <td>52581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:51:41</td>   <td>68622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:14</td>   <td>100907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:33</td>   <td>119952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:52</td>   <td>138881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:03</td>   <td>-29943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:16</td>   <td>-16565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:28</td>   <td>-4528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:33</td>   <td>68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:45</td>   <td>12021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:51:16</td>   <td>43556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:51:25</td>   <td>52495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:51:41</td>   <td>68477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:12</td>   <td>99210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:33</td>   <td>119855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:52</td>   <td>138713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:53:07</td>   <td>153718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:27</td>   <td>114658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">validateCreateNewContact</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:46</td>   <td>133455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">validateCreateNewContact</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:53:02</td>   <td>149031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">validateCreateNewContact</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:51:39</td>   <td>66667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyContactsLinkTest()[pri:3, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">verifyContactsLinkTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:28</td>   <td>-4702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.verifyContactsPageLabel()[pri:1, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">verifyContactsPageLabel</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:16</td>   <td>-16666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyHomePageTitleTest()[pri:1, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">verifyHomePageTitleTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:44</td>   <td>11292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyUserNameTest()[pri:2, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">verifyUserNameTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
</table>
