<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:49:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:03</td>   <td>6503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">loginPageTitleTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:03</td>   <td>6568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:03</td>   <td>6825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:16</td>   <td>19845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyHomePageTitleTest()[pri:1, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">verifyHomePageTitleTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:16</td>   <td>19946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:16</td>   <td>20053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:28</td>   <td>31809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.verifyContactsPageLabel()[pri:1, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">verifyContactsPageLabel</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:28</td>   <td>31983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:28</td>   <td>32105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:33</td>   <td>36511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.crmLogoImageTest()[pri:2, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">crmLogoImageTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:50:33</td>   <td>36579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:33</td>   <td>36677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:44</td>   <td>47803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyUserNameTest()[pri:2, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">verifyUserNameTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:50:45</td>   <td>48532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:45</td>   <td>48695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:50:56</td>   <td>59429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.selectSingleContactsTest()[pri:2, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">selectSingleContactsTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:51:16</td>   <td>80067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:51:17</td>   <td>80221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:51:21</td>   <td>84745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:3, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">loginTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/10/13 23:51:25</td>   <td>89006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.LoginPageTest@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:51:25</td>   <td>89092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:51:39</td>   <td>103178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyContactsLinkTest()[pri:3, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">verifyContactsLinkTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/10/13 23:51:41</td>   <td>104988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.SecurityIdentityPageTest@6fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:51:41</td>   <td>105133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:51:52</td>   <td>115237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.selectMultipleContactsTest()[pri:3, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">selectMultipleContactsTest</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:12</td>   <td>135721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:14</td>   <td>137418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:27</td>   <td>151169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">validateCreateNewContact</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:33</td>   <td>156366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:33</td>   <td>156463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:46</td>   <td>169966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">validateCreateNewContact</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:52</td>   <td>175224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:52:52</td>   <td>175392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:53:02</td>   <td>185542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">validateCreateNewContact</td> 
  <td>main@418304857</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/13 23:53:07</td>   <td>190229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.amx.qa.testcases.DashBroadPageTest@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@418304857</td>   <td></td> </tr>
</table>
