<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>17/09/26 16:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMultipleSession.executSessionOne()[pri:0, instance:com.amx.qa.testcases.TestMultipleSession@1794d431]">executSessionOne</td> 
  <td>TestNG-test=testGuru-1@649293552</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/09/26 16:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMultipleSession.executSessionThree()[pri:0, instance:com.amx.qa.testcases.TestMultipleSession@1794d431]">executSessionThree</td> 
  <td>TestNG-test=testGuru-2@267709270</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/09/26 16:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMultipleSession.executeSessionTwo()[pri:0, instance:com.amx.qa.testcases.TestMultipleSession@1794d431]">executeSessionTwo</td> 
  <td>TestNG-test=testGuru-3@2037721091</td>   <td></td> </tr>
</table>
